$black: #333;
$background: #F1F2F4;
$blue: #4587ED;
$lightGrey: #B8C1CC;
$almostWhite: #F6F7F9;
$darkBlue: #353D4B;
$blueGrey: #818C99;
$isItGrey: #EBECEF;
$white: #fff;
$placeholder: #B8C1CC;
$input: #F6F7F9;
$error: rgb(197, 80, 80);

$container-width: 90%;

$duration: 0.15s;

$_05: 0.3rem;
$_14: 14px;
