@import 'variables';
@import 'fonts';
@import './mixins/buttonScale';
@import 'libs/normalize';
@import './components/all';

body {
    background-color: $white;
}

.wrapper {
    max-width: 1600px;
    width: calc(100vw - 100px);
    height: 100%;
    margin: 0 0 0 auto;
    padding: 1.5rem;
    background-color: $background;
}